@import '../../../style/colors';

.wrapper {
  width: 16px;
  height: 16px;

  label {
    cursor: pointer;
  }

  span {
    position: relative;

    &::before {
      content: '';
      display: inline-block;
      width: 16px;
      height: 16px;
      border: 1px solid $gray-2;
      border-radius: 4px;
    }

    &::after {
      content: '';
      position: absolute;
      display: inline-block;
      mask-image: url('../../../assets/icons/checked.svg');
      mask-repeat: no-repeat;
      mask-size: 12px;
      background-color: $primary;
      width: 12px;
      height: 12px;
      top: 3px;
      left: 3px;
      visibility: hidden;
    }
  }

  input {
    display: none;

    &:checked + span::after {
      visibility: visible;
    }

    &:checked + span::before,
    &:hover + span::before {
      border-color: $primary;
    }
  }
}
