@import '../../../style/colors';

.wrapper {
  max-height: 100%;

  & > button {
    position: absolute;
    top: 0;
    right: 0;
  }
}

table {
  border-collapse: collapse;
  height: inherit;
}

thead {
  background-color: $gray-2;
  position: sticky;
  top: -1px;
  z-index: 10;
  border-left: 1px solid $gray-2;
}

tfoot {
  position: sticky;
  z-index: 10;
  bottom: 0;
  border-left: 1px solid $gray-2;
  background-color: $gray-2;
}

tbody {
  overflow-y: scroll;
  max-height: 100%;
  border-left: 1px solid $gray-2;
  border-right: 1px solid $gray-2;
}
