@import '../../../style/variables';

.wrapper {
  display: flex;
  justify-content: space-between;

  background-color: $white;

  th {
    padding: 0.2em;
    width: 20px;
  }

  td {
    padding: 0.2em 0.2em 0.2em 1em;
    border-left: 1px solid $gray-2;
  }
}

.odd {
  background-color: $white;
}

.even {
  background-color: $gray-1;
}
