@import '../../../style/colors';

.wrapper {
  background-color: $white;

  th,
  td {
    border: 1px solid $gray-2;
  }

  th {
    padding: 0.2em;
  }

  td {
    padding: 0.2em 1em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  & > :last-child {
    padding: 0.2em;
  }
}
