@import '../../../style/colors';
@import '../../../style/typography';

.button {
  border: 1px solid $primary;
  color: $primary;
  border-radius: 4px;
  margin-left: 1rem;
  padding: 0.2rem 1rem;
  font-size: $font-size-desktop;
  background-color: transparent;
  animation-name: appear;
  animation-duration: 300ms;
}

@keyframes appear {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
