@import '../../../style/colors';

// there is no customisation
select {
  mask-image: url(../../../assets/icons/btn_action.svg);
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: 1em;
  background-color: $primary;
  cursor: pointer;
  color: $black;
  width: 100%;

  & > :first-child {
    display: none;
  }

  option {
    background-color: $white;
    color: $primary;
    padding: 10px;
  }
}
