@import '../../../style/colors';
@import '../../../style/typography';

.wrapper {
  th {
    font-size: $font-size-desktop;
    font-weight: bold;
  }

  th:first-child {
    padding: 0.2em 1em;

    span::before {
      border: 1px solid $white;
    }

    input {
      display: none;

      &:checked + span::after {
        visibility: visible;
      }

      &:checked + span::before,
      &:hover + span::before {
        border-color: $primary;
      }
    }
  }
}
