@import './style/colors';

table {
  table-layout: fixed;
  width: 100%;
  min-width: 650px;
  border: 1px solid $gray-2;
  border-collapse: collapse;
}

tbody > :nth-child(even) {
  background-color: $gray-1;
}

tfoot td {
  padding: 0.3em;
}

.Toastify__toast {
  font-size: 1.2rem;
  border: 1px solid $gray-2;
  border-radius: 4px;
  padding-top: 0.5px;
}

.Toastify__close-button > svg {
  margin-top: 6px;
}

.Toastify__progress-bar {
  background: $primary !important;
}
