@import './style/colors';

.container {
  position: relative;
  display: flex;
  padding-bottom: 5px;
  flex-direction: column;
  max-width: 1400px;
  height: 100vh;
  margin: auto;

  & > div {
    flex: 1;
  }
}

tbody > :nth-child(even) {
  background-color: $gray-1;
}

tfoot td {
  padding: 0.5em;
}

.Toastify__toast {
  font-size: 1.2rem;
  border: 1px solid $gray-2;
  border-radius: 4px;
  padding-top: 0.5px;
}

.Toastify__close-button > svg {
  margin-top: 6px;
}

.Toastify__progress-bar {
  background: $primary !important;
}
