@import './style/font.css';
@import './style/colors';
@import './style/typography';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: Poppins, sans-serif;
}

a {
  color: $primary;
  text-decoration-color: transparent;

  &:hover {
    text-decoration-color: $primary;
  }
}

textarea {
  font-size: $font-size-desktop;
  padding: 0.3em;
  margin-bottom: 1rem;
  width: 100%;
  resize: vertical;
}

legend {
  padding: 0 0.3em;
}

input {
  font-size: $font-size-desktop;
  padding-left: 0.3em;
  border: 1px solid $gray-2;
  border-radius: 4px;

  &:focus {
    border-color: $primary;
    outline: none;
  }
}

button {
  cursor: pointer;
  background-color: transparent;
  border: none;
}

ul {
  list-style: none;
}
