@import './style/font.css';
@import './style/variables';

html,
body {
  font-family: Poppins;
}

a {
  color: $primary;
  text-decoration: none;

  &:hover {
    color: $gray-2;
  }
}

input {
  border: 1px solid $gray-2;
  border-radius: 4px;

  &:focus {
    border-color: $primary;
    outline: none;
  }
}

ul {
  list-style: none;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
