@import './style/font.css';
@import './style/variables';

html,
body {
  font-family: Poppins;
}

a {
  color: $primary;
  text-decoration: none;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
